Package: pyflame
Source: pyflame
Architecture: amd64
Priority: extra
Maintainer: Evan Klitzke <evan@uber.com>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, dh-autoreconf, pkg-config, python-dev, g++
Standards-Version: 3.9.3
Version: 0.1
Description: Python flamegraph tool
Multi-Arch: same
Depends:  libstdc++6, python